<!-- Inline CSS based on choices in "Settings" tab -->
<style>

  .bootstrap-iso .formden_header h2,
  .bootstrap-iso .formden_header p,
  .bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif;
    color: black
  }

  .bootstrap-iso form button,
  .bootstrap-iso form button:hover {
    color: #ffffff !important;
  }

  .asteriskField {
    color: red;
  }
  
  .centralizado {
    margin-left: 33%;
    margin-right: 25%;
    margin-top: 10%;
  }
  
  body {
      background-color: #f5f5f5;
  }
  
  .cor-fundo {
      background-color: #f5f5f5;
  }
  
  .formulario {
      width: 65%;
  }
  
</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso cor-fundo">
 
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 centralizado">
        <form method="post" ng-submit="inserirUsuario()" class="formulario">
          <div class="form-group ">
            
            <label class="control-label " for="curso">
             Curso
            </label>
            
            <select class="select form-control" id="curso" ng-model="curso" name="curso">
             <option value="Medicina Veterin&aacute;ria">
              Medicina Veterinária
             </option>
             
             <option value="Ci&ecirc;ncias Biol&oacute;gicas">
              Ci&ecirc;ncias Biol&oacute;gicas
             </option>
            </select>
          
          </div>
          
          <div class="form-group ">
            <label class="control-label " for="periodo-select">
           Per&iacute;odo
            </label>
            <select class="select form-control" id="periodo-select" name="periodo-select" ng-model="periodo">
             
             <option value="1&ordm;">
              1&ordm;
             </option>
             
             <option value="2&ordm;">
              2&ordm;
             </option>
             
             <option value="3&ordm;">
              3&ordm;
             </option>
             
             <option value="4&ordm;">
              4&ordm;
             </option>
             
             <option value="5&ordm;">
              5&ordm;
             </option>
             
             <option value="6&ordm;">
              6&ordm;
             </option>
             
             <option value="7&ordm;">
              7&ordm;
             </option>
             
             <option value="8&ordm;">
              8&ordm;
             </option>
             
             <option value="9&ordm;">
              9&ordm;
             </option>
             
             <option value="Outro">
              Outro
             </option>
            
            </select>
          </div>
          
          <div class="form-group ">
            <label class="control-label requiredField" for="name">
              Nome
              <span class="asteriskField"> * </span>
            </label>
            
            <input class="form-control" id="name" name="name" placeholder="Nome" type="text" ng-model="nome"/>
          </div>
          
          <div class="form-group ">
            
            <label class="control-label requiredField" for="email">
             Email
             <span class="asteriskField"> * </span>
            </label>
            
            <input class="form-control" id="email" name="email" placeholder="Email" type="text" ng-model="email" />
          </div>
          
          <div class="form-group ">
            <label class="control-label requiredField" for="name2">
             Senha <span class="asteriskField"> * </span>
            </label>
            
            <input class="form-control" id="name2" name="name2" type="text" ng-model="senha"/>
          </div>
          
          <div class="form-group">
            <div>
              <button class="btn btn-lg btn-dark" name="submit" type="submit">
                Cadastrar
             </button>
            </div>
          </div>
        
        </form>
        
    </div>
  </div>
</div>